<div class="Section">
	<div class='formBox'>
		<div class="formHeader">
			<h3>welcome to Tea</h3>
			<P>login</P>
		</div>
		<form class="Form">
			<div class="email diverLine">
				<input type="text" placeholder="please inter your email" name="email" ng-model='form.email'>
			</div>
			<div class="password diverLine">
				<input type="text" placeholder="please inter your password" name="password" ng-model='form.password'>
			</div>
			<div class="formBtn ">
				<div class="btn btn-blue btn-half" ng-click="formBtnClick()">login</div>
			</div>

			
		</form>
		<div class="formFooter">
			<div>
				<a href="#/page/forgetPsw">forget password ?</a>
			</div>
			<div>
				<a href="#/page/register">register</a>
			</div>
			
		</div>
	</div>
</div>