.range input[type=range]{
  -webkit-appearance: none;
  width:100%;
  &:focus{
    outline: none;
  }
  /*自定義滑動塊的樣式；webikit*/
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    border:1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    margin-top: -14px;/* 這裏是針對chorme */
  }
  /*自定義滑動條的樣式 webkit */
  &::-webkit-slider-runnable-track{
    width: 100%;
    height: 8.4px;
    cursor:pointer;
    background-color: #3071a9;
    border-radius: 1.3px;
    border:0.2px solid #010101;
  }
  /* firefox */
  &::-moz-range-thumb{
    border:1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
  }
  &::-moz-range-track{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  /*for IE*/
  &::-ms-thumb{
    border:1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
  }
  &::-ms-track{
    width: 100%;
    height: 8.4px;
    cursor:pointer;
    background: transparent;
    border:transparent;
    border-width:16px 0;
    color:transparent;
  }
  &::-ms-fill-lower{
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  &::-ms-fill-upper{
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
}